# Node
node_modules/
dist/

# Venv
.env/

# Python
*.pyc
__pycache__/
**/.ipynb_checkpoints/
*_pickle

# IDE
.ipynb_checkpoints/
.vscode/
.idea/

# Java
target/
.gradle/

# Misc
.DS_Store
Thumbs.db
*.log